# Bot client ID
client_id: 12345

# Bot token
token: 'abc123'

# World ID
world_id: 12

# Channels where S ranks will be reported
s_rank_channel_ids:
  - 123456

# Channels where A ranks will be reported
a_rank_channel_ids:
  - 234567
